/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root{
  --primary-white: #fff;
  --primary-orange: #ffa500;
  --primary-green: #28a745;
}

body {
  font-family: "Roboto Condensed" sans-serif;
}

/*** NAVBAR ***/
.logo {
  width: 100px;
}

/*** MENU LINKS ***/
nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.6px;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 12px;
  margin-left: 12px;
  color: var(--primary-white) !important ;
  border-top: 3px solid var(--primary-green);
}

.navbar-brand {
  max-width: 275px;
  padding: 0 !important;
  height: 95px;
}
/* add a:active:focus if necessary */
.navbar-nav > li > a.active, .navbar-nav > li > a:active:focus {
  border-top: 3px solid var(--primary-white);
}

.navbar-nav > li > a:hover {
  border-top: 3px solid var(--primary-white);
}

.container {
  display: flex;
  padding-top: 15px;
}

/**** CARD ***/
.card-img-top {
  /* width: 30% !important; */
  margin-left: auto;
  margin-right: auto;
}